* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*Passa a considerar toda a caixa como conteÃºdo (widht= conteÃºdo + border + padding)*/
  font-family: "Poppins", sans-serif;
}

main {
  height: auto;
  margin: 20px 0px 20px 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; /* alinhados em Ãºnica coluna,no centro (para direita)*/
  align-items: center; /*fazer apÃ³s row: Alinha vertical (para baixo)  */
  color: #434343;
}

form {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 166, 0, 0.8);
  box-shadow: 3px 3px 1px 0px #00000060;
  border-radius: 10px;
  height: auto;
  width: 60vw;
  padding: 0px;
}

#inst,
#cont,
#log,
#endereco {
  color: white;
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

#campo1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 45px;
  width: 60%;
  height: auto;
  padding: 20px;
  margin: 0px 15px 0px 40px;
  color: white;
  text-align: justify;
  border-radius: 5px;
  text-align: left;
  text-shadow: 1px 1px 2px black;
}

#campo2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 45px;
  height: auto;
  width: 60%;
  margin: 70px 50px 15px -40px;
  padding: 20px;
  color: white;
  text-align: justify;
  border-radius: 5px;
  text-align: left;
  text-shadow: 1px 1px 2px black;
}

.botao {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  border: none;
  margin-top: 10px;
}

#env {
  display: flex;
  width: 30%;
  padding: 10px;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 100px;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: #08558b;
  cursor: pointer;
}
#lim {
  display: flex;
  width: 30%;
  padding: 10px;
  justify-content: center;
  color: white;
  border-radius: 100px;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: black;
  cursor: pointer;
}

#lim:hover {
  background-color: rgb(255, 255, 255);
  transition: 0.4s;
  color: black;
}
#env:hover {
  background-color: rgb(132, 255, 163);
  transition: 0.4s;
  color: black;
}

legend {
  font-size: 18px;
}

.labelInput {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  transition: 0.5px;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput {
  top: -20px;
  font-size: 12px;
  color: #f1f1f1;
  letter-spacing: 0.1em;
}

.inputBox {
  position: relative;
}

.inputUser {
  background: none;
  border: none;
  border-bottom: 1px solid #f1f1f1;
  outline: none;
  font-size: 15px;
  width: 100%;
  letter-spacing: 2px;
}
a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
} /*
.botao {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: transparent;
  border-color: #f1f1f1;
  color: #ff0000;
  padding: 5px;
  font-weight: bold;
  font-size: 16pt;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  margin-top: auto;
}

.botao:hover {
  background-color: #1b223c;
  transition: 0.4s;
}*/
a:hover {
  opacity: 0.7;
}

#headerEmbed {
  width: 100%;
  height: 20vh;
}

img {
  height: 20vh;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background-color: rgba(255, 166, 0, 0.774);
  height: 20vh;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: right;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

#rodape {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background-color: rgba(255, 166, 0, 0.774);
  height: 15vh;
}

@media (max-width: 999px) {
  main {
    height: auto;
    width: auto;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background-color: rgba(255, 166, 0, 0.774);
    height: auto;
  }
  .nav-list {
    display: block;
    text-align: center;
  }
  form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 80vw;
  }

  #campo1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  #campo2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
  } /*
  .botao {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }*/

  .nav-list li {
    margin-left: 0;
    opacity: 50;
  }
  @media screen and (max-width: 930px) {
    main {
      height: auto;
      width: auto;
    }
  }

  @media screen and (max-width: 720px) {
    main {
      height: auto;
      width: auto;
    }
  }
}
