* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*Passa a considerar toda a caixa como conteúdo (widht= conteúdo + border + padding)*/
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

main {
  height: 70vh; /*Viewport height*/
  width: 100%;

  display: flex; /* flex container*/
  justify-content: right; /* alinhados em única coluna,no centro (para direita)*/
  align-items: center; /*fazer após row: Alinha vertical (para baixo)  */

  color: #434343;
}

main.cards {
  display: flex;
  flex-direction: row; /*em linha - agora volta para o align-items*/
  padding: 30px; /* todos os cards em relação a página*/
}

main.cards section.meu-perfil {
  display: flex; /*alinhamento dos itens*/
  flex-direction: column; /*alinhados em coluna*/
  align-items: left; /*esquerda no card*/
  text-align: left; /*alinhamento do texto a esquerda*/
  background: whitesmoke;
  padding: 1rem 1.5rem; /* medida responsiva (tutorial)*/
  border-radius: 8px;
  max-height: 700px;
  margin-left: 70px; /*espaçar em relação aos outros cards*/
  box-shadow: 20px 20px 50px -3px rgba(255, 166, 0, 0.774);
}

main.cards section.card {
  display: flex; /*alinhamento dos itens*/
  flex-direction: column; /*alinhados em coluna*/
  align-items: right; /*direita no card*/
  text-align: center;
  background: whitesmoke;
  padding: 1rem 1.5rem; /* medida responsiva (tutorial)*/
  border-radius: 8px;
  max-height: 400px;
  margin-left: 32px; /*espaçar em relação aos outros cards*/
  box-shadow: 20px 20px 50px -3px rgba(255, 166, 0, 0.774);
}

main.cards section.card:first-child {
  margin-left: 0; /*retirar espaçamento, primeiro item não precisa se espaçar*/
}

main.cards section.card h3 {
  font-size: 100%;
  margin: 16px 0;
}

main.cards section.card span {
  font-weight: 500;
  max-width: 240px; /*quebra da largura do texto*/
  font-size: 85%;
}

main.cards section.card button {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 32px;
  border: 0;
  cursor: pointer;
  font-size: 70%;
  font-weight: 500;
  color: white;
  background-color: rgba(255, 166, 0, 0.774);
}

a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

#headerEmbed {
  width: 100%;
  height: 20vh;
}

img {
  height: 20vh;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background-color: rgba(255, 166, 0, 0.774);
  height: 19vh;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: right;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

#rodape {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background-color: rgba(255, 166, 0, 0.774);
  height: 15vh;
}

@media (max-width: 999px) {
  .nav-list {
    position: absolute;
    top: 20vh;
    right: 0;
    width: 100vw;
    height: 15vh;
    background: rgba(255, 166, 0, 0.774);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 50;
  }
}

@media screen and (max-width: 930px) {
  /*breakpoint cards*/
  main {
    height: 200vh; /* Altura que o conteúdo precisa ocupar para que a nav não o interrompa*/
  }
  main.cards {
    flex-direction: column; /*um embaixo do outro*/
  }
}

@media screen and (max-width: 720px) {
  main {
    height: 200vh;
  }
  main.cards {
    flex-direction: column;
  }

  main.cards section.card {
    margin-left: 0px;
    margin-bottom: 32px;
  }

  main.cards section.card:last-child {
    margin-bottom: 0;
  }
  main.cards section.card button {
    font-size: 70%;
  }
}
